div {
    width: 200px;
    height: 200px;
    border:1px solid black;
   
}

.main {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    height: 400px;
    flex-wrap: wrap;
}

.main div {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
flex-grow: 1;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}